.about-intro {
    margin-top: 90px;
    padding: 2rem 1.5rem;
    background: #f4f4f4;
    margin-left: 5%;
    max-width: 100%;
    
}

.about-intro-content {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen y el texto */
    gap: 1rem; /* Espacio entre la imagen y el texto */
}

.intro-avatar {
    width: 380px; /* Tamaño inicial del avatar */
    height: auto;
    border-radius: 40%; /* Redondear la imagen para un estilo de avatar */
}

.intro-text {
    text-align: left;
    max-width: 60%; /* Limita el ancho del texto para dar más espacio al avatar */
}

.about-intro h1 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 1rem; /* Añadir espacio entre el título y el párrafo */
}

.about-intro p {
    font-size: 3.0rem;
    font-weight: 700;
    color: #333;
}

.about-achievements {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    background-color: #0077cc;
    margin-top: 70px;
    margin-bottom: 70px;
}

.achievement-card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 20%;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.achievement-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.achievement-card h2 {
    font-size: 2rem;
    color: #0077cc;
}

.achievement-card p{
    color: #333;
    font-weight: 600;
    font-size: 15px;
}

.about-history {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin-left: 5%;
}

.about-history h2 {
    text-align: left;
    color: #333;
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.about-history p{
    color: #333;
    font-size: 1.2rem;
}


@media (max-width: 1024px) {
    .about-intro {
        margin-left: 3%; /* Reducir el margen en pantallas medianas */
        padding: 2rem 1rem; /* Ajustar el padding */
    }

    .intro-avatar {
        width: 250px; /* Reducir el tamaño del avatar en pantallas medianas */
    }
}

@media (max-width: 768px) {

    .about-intro{
        padding-top: 0px;
    }

    .about-intro-content {
        flex-direction: column; /* Cambia la dirección a columna para pantallas pequeñas */
    }

    .intro-text {
        max-width: 100%; /* Deja que el texto ocupe todo el ancho en móviles */
        margin-left: 3%; /* Mantén un margen izquierdo para que no quede pegado al borde */
    }

    .intro-avatar {
        width: 55%; /* Ajusta el ancho de la imagen en pantallas pequeñas */
        margin: 1rem auto -90px auto; /* Centra la imagen debajo del texto */
    }

    .about-intro p{
        font-size: 35px;
    }

    .about-achievements {
        flex-direction: column;
        align-items: center;
    }

    .achievement-card {
        width: 80%;
        margin-bottom: 1rem;
    }

}