.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.service-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 380px;
    max-width: 1200px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.service-card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Sombra más profunda al hacer hover */
    transform: scale(1.01); /* Aumenta ligeramente el tamaño */
}

.service-info {
    flex: 1 1 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-info h2{
    font-size: 28px;
}

.service-description {
    margin: 15px 0;
    line-height: 1.5;
    color: black;
    margin: 15px 0;
    font-size: 16px; /* Tamaño de texto moderado */
}

.service-button {
    padding: 10px 20px; /* Ajusta el padding si es necesario */
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-size: 14px;
    max-width: 150px; /* Establece un ancho máximo para el botón */
    min-width: 80px;
    
    margin-top: 10px; /* Añade un pequeño margen arriba para separación */
}

.service-button:hover {
    background-color: #0056b3; /* Cambia el color según tu diseño */
}

.service-image {
    flex: 1 1 40%;
    display: flex;
    align-items: stretch;
    justify-content: center;
   
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1244px) {
    .service-card {
        height: auto;
    }

    .service-info {
        padding: 20px; /* Reducir padding en pantallas medianas */
    }

    .service-info h2 {
        font-size: 24px; /* Reducir el tamaño del título */
    }

    .service-description {
        font-size: 14px; /* Ajustar el tamaño del texto */
    }

    .service-button {
        padding: 8px 16px; /* Ajustar padding del botón */
        font-size: 12px;
        max-width: 130px;
    }
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .service-card {
        flex-direction: column; /* Imagen arriba */
        height: auto; /* Deja que la carta se ajuste dinámicamente en mobile */
    }

    .service-image {
        width: 100%;
        max-height: 200px; /* Limitar la altura máxima de la imagen */
        order: -1; /* Coloca la imagen arriba del contenido */
        overflow: hidden; /* Para ocultar cualquier exceso de la imagen */
    }

    .service-info {
        width: 100%;
        padding: 20px; /* Reduce padding en móviles */
    }

    .service-info h2 {
        font-size: 20px; /* Ajusta el tamaño del título */
    }

    .service-description {
        font-size: 12px; /* Ajusta el tamaño del texto */
    }

    .service-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Mantén la proporción de la imagen */
        border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior en móviles */
    }
}